apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: email-smtp
spec:
  type: bindings.smtp
  version: v1
  metadata:
    - name: host
      value: "smtp.example.com"
    - name: port
      value: "587"
    - name: user
      value: ""
    - name: password
      value: ""
    - name: skipTLSVerify
      value: false