using System.Runtime.Serialization;

namespace {{ .Project.Name | pascalcase }}.Domain.Shared;

{{- range $enumName, $enumValues := .Project.Enums }}
/// <summary>
/// Enum: {{ $enumName }}
/// </summary>
public enum {{ $enumName | pascalcase }}
{
{{- range $idx, $enumValue := $enumValues }}
    /// <summary>{{ $enumValue }}</summary>
    [EnumMember(Value = "{{ $enumValue | snakecase }}")]
    {{ $enumValue | pascalcase }} = {{ $idx }},
{{- end }}
}

{{- end }}
