using System.Security.Claims;

namespace Application.Security;

public interface IOwnerResolver
{
    // Returns true if the given principal is considered owner of the provided entity.
    bool IsOwner(ClaimsPrincipal user, object entity);
}
