{{- $proj := .Project.Name | pascalcase }}
using {{ $proj }}.Domain.Entities;

namespace {{ $proj }}.Application.Repositories;

/// <summary>
/// Repository interface for {{ .Entity.Name }} CRUD operations
/// </summary>
public interface I{{ .Entity.Name }}Repository : IRepository<{{ .Entity.Name }}>
{
}
