{{- $proj := .Project.Name | pascalcase }}
using Microsoft.Extensions.DependencyInjection;
using {{ $proj }}.Application.Caching;
using {{ $proj }}.Application.Security;

namespace {{ $proj }}.Application;

public static class DependencyInjection
{
    public static IServiceCollection AddApplicationServices(this IServiceCollection services)
    {
        // Security
        services.AddScoped<IPermissionService, PermissionService>();
        services.AddScoped<IOwnerResolver, OwnerResolver>();

        return services;
    }
}
