<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>{{ or .Project.Platform "net10.0" }}</TargetFramework>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
    <IsPackable>false</IsPackable>
    <NoWarn>xUnit1000</NoWarn>
    <RootNamespace>{{ .Project.Name | pascalcase }}.Tests</RootNamespace>
    <AssemblyName>{{ .Project.Name | pascalcase }}.Tests</AssemblyName>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Mvc.Testing" Version="{{ index .Packages "mvc_testing" }}" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.InMemory" Version="{{ index .Packages "ef_core_inmemory" }}" />
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="{{ index .Packages "test_sdk" }}" />
    <PackageReference Include="xunit" Version="{{ index .Packages "xunit" }}" />
    <PackageReference Include="xunit.runner.visualstudio" Version="{{ index .Packages "xunit_runner" }}" />
  </ItemGroup>

  <ItemGroup>
    <ProjectReference Include="../src/WebApi/WebApi.csproj" />
  </ItemGroup>
</Project>
