<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>{{ or .Project.Platform "net10.0" }}</TargetFramework>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
    <RootNamespace>{{ .Project.Name | pascalcase }}.WebApi</RootNamespace>
    <AssemblyName>{{ .Project.Name | pascalcase }}.WebApi</AssemblyName>
    <GenerateDocumentationFile>true</GenerateDocumentationFile>
  </PropertyGroup>

  <ItemGroup>
    <InternalsVisibleTo Include="{{ .Project.Name | pascalcase }}.Tests" />
  </ItemGroup>

  <ItemGroup>
    <ProjectReference Include="../Domain/Domain.csproj" />
    <ProjectReference Include="../Application/Application.csproj" />
    <ProjectReference Include="../Infrastructure/Infrastructure.csproj" />
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Authentication.JwtBearer" Version="{{ index .Packages "jwt_bearer" }}" />
    <PackageReference Include="Microsoft.IdentityModel.Tokens" Version="{{ index .Packages "identity_model" }}" />
    <PackageReference Include="System.IdentityModel.Tokens.Jwt" Version="{{ index .Packages "identity_model" }}" />
    <PackageReference Include="Swashbuckle.AspNetCore" Version="{{ index .Packages "swashbuckle" }}" />
    <PackageReference Include="Swashbuckle.AspNetCore.Annotations" Version="{{ index .Packages "swashbuckle_annotations" }}" />
    <PackageReference Include="AspNetCore.HealthChecks.NpgSql" Version="{{ index .Packages "healthchecks_npgsql" }}" />
    <PackageReference Include="AspNetCore.HealthChecks.Redis" Version="{{ index .Packages "healthchecks_redis" }}" />
    <PackageReference Include="Microsoft.Extensions.Caching.StackExchangeRedis" Version="{{ index .Packages "redis_cache" }}" />
  </ItemGroup>

  <ItemGroup>
    <None Update="appsettings.json">
      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
    </None>
    <None Update="appsettings.Development.json">
      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
    </None>
  </ItemGroup>
</Project>
